@model BookViewModels

@{ 
    ViewBag.Title = "Book Detail";
}

<div class="card">
    <div class="card-header bg-info mt-3">
        <h2>@ViewBag.Header</h2>
    </div>
    <div class="card-body ">
        <h4>Book Name: @Model.books.Bookname</h4>
        <h4>Author Name: @Model.books.Authorname</h4>
        <h4>Published Year: @Model.books.Publishedyear</h4>
        <h4>Price: @Model.books.Price</h4>
        <h4>Category: @Model.CategoryName</h4>
    </div>
</div>