@model IEnumerable<NewBookViewModel>

@{
    ViewBag.Title = "Home";
}


<div class="text-center table-responsive">
    <div>
        <a asp-action="AddBook" asp-controller="home" class="btn btn-outline-primary col-3 float-lg-right buttonMargin">Add Book</a>
    </div>
    <table class="table table-hover table-borderedless">
        <tr>
            <th>Category</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Published Year</th>
            <th>Price</th>
            <th>Updated</th>
            <th>Action</th>
        </tr>
        @foreach (var books in Model)
        {
            <tr>
                <td>@books.Cateogoryname</td>
                <td>@books.Bookname</td>
                @if (books.Authorname == null)
                {
                    books.Authorname = "Not Available";
                }

                <td>@books.Authorname</td>
                <td>@books.Publishedyear</td>
                <td>@books.Price</td>
                <td>@books.Updatedon.ToShortDateString()</td>
                <td>
                    <a asp-action="GetBook" asp-controller="home" asp-route-id="@books.Bookid" class="btn btn-outline-info buttonMargin">View</a>
                    <a asp-action="EditBook" asp-controller="home" asp-route-id="@books.Bookid" class="btn btn-outline-secondary buttonMargin">Edit</a>
                    <a asp-action="DeleteBook" asp-controller="home" asp-route-id="@books.Bookid" class="btn btn-outline-danger buttonMargin" onclick="myFunction()">Delete</a>
                </td>

            </tr>
        }
    </table>

</div>

<script>
    function myFunction() {
        alert("Book Deleted Successfully!, Click To view the Book");
    }
</script>
